<section class="grid-item <%= item.categories %>">
  <article>
    <div class="item">
      <h4><%=item.title %></h4>
      <a class="afbeelding" href="/portraits/<%=index %>">
        <img src="/img/<%=item.image%>" alt="<%=item.artist%>">
        <span class="info" href="/portraits/<%=index %>">Info</span>
      </a>
    </div>
  </article>
</section>
